#sensorView
	.page-header
		%h1.sensor-name Loading

	#dataView
		%ul.list-unstyled

	#apiView
		%h2 Workbench Logger

		#logger.well

		%dl
			%dt API Endpoint
			%dd.sensor-endpoint Loading

	#metadataView
		%h2 Sensor Metadata

		.row
			.col-md-9
				%dl
					%dt Sensor Name
					%dd.sensor-name Loading

					%dt Sensor Description
					%dd.sensor-description Loading

					%dt Datastreams
					%dd.sensor-datastream-count Loading

					%dt Owner
					%dd.sensor-owner Loading

					%dt Owner Contact
					%dd.sensor-contact Loading

			.col-md-3
				#map &nbsp;

:javascript
	$(function() {
		L.Icon.Default.imagePath = '/assets';

		// Backbone-related

		var sensor = {
			name: "Sensor X1",
			id: "asdf5555",
			description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
			owner: "James",
			contact: "james@example.com",
			latitude: "51.055",
			longitude: "-114"
		};

		window.appRouter = new Workbench.Routers.WorkbenchRouter({ sensor: sensor });

		var result = Backbone.history.start({ pushState: true, root: "/workbench/sensors/" });

		var streams = [{
			id: "2f9e9df6bd52c1a871b735c18e3434e0",
			name: "Datastream A",
			data: [
				[1367366400000,439.29],
				[1367452800000,445.52],
				[1367539200000,449.98],
				[1367798400000,460.71],
				[1367884800000,458.66],
				[1367971200000,463.84],
				[1368057600000,456.77],
				[1368144000000,452.97]
			],
			unit: "USD"
		}];

		Workbench.Events.trigger("addDatastream", streams[0]);
	});
