.page-header
	%h1 Sensor X1

#dataView
	%ul.list-unstyled
		%li.datastream
			%h2 Datastream A

			.data.row
				#chart_nonce1.chart.col-md-9 Loading&hellip;

				.chartSideView.col-md-3
					#latest_nonce1.latest
						%p.value Loading&hellip;
						%p
							%date

					%button.btn.btn-primary.btn-lg{type: "button"} Add Value

#apiView
	%h2 Workbench Logger

	#logger.well

	%dl
		%dt API Endpoint
		%dd http://www.example.com/sensors/asdfasdfadsf

#metadataView
	%h2 Sensor Metadata

	.row
		.col-md-9
			%dl
				%dt Sensor Name
				%dd Sensor X1

				%dt Sensor Description
				%dd Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%dt Datastreams
				%dd 2

				%dt Owner
				%dd James

				%dt Owner Contact
				%dd james@example.com

		.col-md-3
			#map &nbsp;

:javascript
	$(function() {

	  var addChart = function(id, id2) {
	    $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {
	        // Create the chart
	        $(id).highcharts('StockChart', {
	          rangeSelector : {
	            selected : 1
	          },

	          title : {
	            text : 'Datastream A'
	          },

	          series : [{
	            name : 'AAPL',
	            data : data,
	            tooltip: {
	              valueDecimals: 2
	            }
	          }]
	        });

	        var lastPair = data[data.length - 1];

	        $(id2).find(".value").text(lastPair[1]);
	        $(id2).find("date").text(new Date(lastPair[0]));
	      });

	  };

	  addChart("#chart_nonce1", "#latest_nonce1");

	  // Map
	  L.Icon.Default.imagePath = '/assets';
	  var map = L.map('map').setView([51.055, -114], 13);

	  // add an OpenStreetMap tile layer
	  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	  }).addTo(map);

	  L.marker([51.055, -114]).addTo(map);

	});
