#sensorView
	.page-header
		%h1.sensor-name Loading

	#dataView
		%ul.list-unstyled

	#apiView
		%h2 Workbench Logger

		#logger.well

		%dl
			%dt API Endpoint
			%dd.sensor-endpoint Loading

	#metadataView
		%h2 Sensor Metadata

		.row
			.col-md-9
				%dl
					%dt Sensor Name
					%dd.sensor-name Loading

					%dt Sensor Description
					%dd.sensor-description Loading

					%dt Datastreams
					%dd.sensor-datastream-count Loading

					%dt Owner
					%dd.sensor-owner Loading

					%dt Owner Contact
					%dd.sensor-contact Loading

			.col-md-3
				#map &nbsp;

:javascript
	$(function() {
		L.Icon.Default.imagePath = '/assets';

		// Demo user API Key
		var apiKey = "3359a8ffba94a54978aa6c645e3c617a";
		var dsSource = new Geocens.DataService({ api_key: apiKey });
		var sensorUid = "f9b0b42d4b742638f96dfea960ef4735";

		window.appRouter = new Workbench.Routers.WorkbenchRouter({
			source: dsSource,
			sensor_uid: sensorUid
		});

		var result = Backbone.history.start({ pushState: true, root: "/workbench/sensors/" });
	});
