<h2><%= id %></h2>

<div class="data row">
	<div id="chart_<%= uid %>" class="chart col-md-9">Loading&hellip;</div>

	<div class="chartSideView col-md-3">
		<div id="latest_<%= uid %>" class="latest">
			<p class="value">Loading&hellip;</p>
			<p><date></date></p>
		</div>
	</div>
</div>
