<!DOCTYPE html>
<html>
<head>
  <title>Workbench</title>
  <%= stylesheet_link_tag    "workbench/application", media: "all" %>
  <%= javascript_include_tag "workbench/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
