doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Workbench
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != css("main")
    != js("app")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#content.container
      h2 GeoCENS

      script(type='text/javascript').
        $(function() {
          window.appRouter = new Workbench.Routers.WorkbenchRouter({
            element: $("#content")
          });
          var result = Backbone.history.start({ pushState: true, root: "/" });
        });
