//= require bootstrap/dist/css/bootstrap
//= require_self

.latest {
  font-size: 2em;
}

date {
  font-size: 0.7em;
}

#logger {
  min-height: 5em;
}

#map {
  min-height: 200px;
}

#stationsMap {
  border: 1px solid black;
}

.stationPopup h1 {
  font-size: 1.2em;
  line-height: 1em;
}

.stationPopup h2 {
  font-size: 1em;
  line-height: 1em;
}
