<div id="apiView">
  <h2><%= t('logger.title') %></h2>

  <div id="logger" class="well"></div>

  <dl>
    <dt><%= t('logger.api-endpoint') %></dt>
    <dd class="sensor-endpoint"><%= t('loading') %></dd>
  </dl>
</div>
