<div id="metadataView">
  <h2>Sensor Metadata</h2>

  <div class="row">
    <div class="col-md-9">
      <dl>
        <dt>Sensor Name</dt>
        <dd class="sensor-name">Loading&hellip;</dd>

        <dt>Sensor Description</dt>
        <dd class="sensor-description">Loading&hellip;</dd>

        <dt>Datastreams</dt>
        <dd class="sensor-datastream-count">Loading&hellip;</dd>

        <dt>Owner</dt>
        <dd class="sensor-owner">Loading&hellip;</dd>

        <dt>Owner Contact</dt>
        <dd class="sensor-contact">Loading&hellip;</dd>
      </dl>

      <a href="<%= indexURL %>">Other Sensors for this API Key</a>
    </div>

    <div class="col-md-3">
      <div id="map">Loading&hellip;</div>
    </div>
  </div>
</div>
