doctype
html.no-js
  head
    meta(charset='utf-8')
    title Page not found
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    h1 Page Not Found
