doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title About Arctic Sensor Web
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/app.css")

    script(type="text/javascript", src="/scripts/jquery.min.js")
    script(type="text/javascript", src="/scripts/bootstrap.min.js")
    
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#content.container
      header.row
        div.col-md-4
          h1 
            a(href="/", data-bypass="true")
              | Arctic Sensor Web
        div.col-md-8.text-right
          h2
            a(href="/about.html", data-bypass="true") About
            
      div.row
        div.col-md-12
          h1 About Arctic Sensor Web

    
