<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Arctic Sensor Web</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <div id="content" class="container">
      <header class="row">
        <div class="col-md-4">
          <h1> <a href="/" data-bypass="true">Arctic Sensor Web</a></h1>
        </div>
        <div class="col-md-8 text-right">
          <h2><a href="/about.html" data-bypass="true">About</a></h2>
        </div>
      </header>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>About Arctic Sensor Web</h1>

          <p>
            Arctic Sensor Web enables research stations around the pan-Arctic to connect their sensors, including those that provide near-real time data, to a cloud service for visualization, information sharing, and collaborative analysis. It is a component of the <a href="http://arcticconnect.org">ArcticConnect</a> project, a collaboration between the Arctic Institute of North America, the University of Calgary, CANARIE, and Cybera.
          </p>

          <p>
            This site is open source software. It is MIT Licensed and the <a href="https://github.com/GeoSensorWebLab/asw-workbench">source is available on GitHub</a>. If you have any suggestions or find any issues, please use the <a href="https://github.com/GeoSensorWebLab/asw-workbench/issues">issue tracker on GitHub</a> to contact our development and maintenance team.
          </p>

          <p>
            If you have general questions or comments about Arctic Sensor Web or Arctic Connect, please contact us by email at <a href="mailto:info@arcticconnect.org">info@arcticconnect.org</a>.
          </p>

        </div>
      </div>
    </div>
  </body>
</html>
