doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Workbench
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/MarkerCluster.css")
    link(rel="stylesheet", href="/styles/MarkerCluster.Default.css")
    link(rel="stylesheet", href="/styles/polarmap.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    != stylesheet('main.css')

    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js")
    script(type="text/javascript", src="/scripts/jquery.min.js")
    script(type="text/javascript", src="/scripts/jquery.transit.js")
    script(type="text/javascript", src="/scripts/JSON2.js")
    script(type="text/javascript", src="/scripts/jquery-deparam.js")
    script(type="text/javascript", src="/scripts/proj4.js")
    script(type="text/javascript", src="/scripts/proj4leaflet.js")
    script(type="text/javascript", src="/scripts/leaflet.markercluster.js")
    script(type="text/javascript", src="/scripts/polarmap.js")
    script(type="text/javascript", src="/scripts/bootstrap.min.js")
    script(type="text/javascript", src="/scripts/highstock.js")
    script(type="text/javascript", src="/scripts/modules/exporting.js")
    script(type="text/javascript", src="/scripts/underscore-min.js")
    script(type="text/javascript", src="/scripts/backbone-min.js")
    script(type="text/javascript", src="/scripts/backbone.marionette.js")
    script(type="text/javascript", src="/scripts/geocens.js")
    script(type="text/javascript", src="/scripts/geocens-chart.js")
    != javascript('app.js')

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div#content.container
      div#app

    script(type='text/javascript').
      $(document).ready(function() {
        Workbench.start({
          el: $("#app")
        });
      });
